.display-none {
  display: none;
}

.result {
  text-align: center;
}

.loading {
  text-align: center;
}

.wrap .vux-header {
  padding: 4px 0;
}

button {
  background-color: transparent;
}

button {
  outline: none;
  border-width: 0;
  outline: 0;
  -webkit-appearance: none;
}

.jx-top-con {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 105;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  padding: 46px 0 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: auto;
}

.none-head-transform-body {
  padding: 0 0 46px;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

.exit {
  text-align: center;
  display: block;
}

.weui-toast_content {
  padding: 10px 0;
}

@import "./header.css";
@import "./login_register_forget.css";
@import "./mine.css";
