/*login */

.jx-mark {
  width: 40%;
  max-width: 200px;
  height: auto;
  margin: 40px auto;
  display: block;
}

.jx-ipt-wrap {
  width: 94%;
  margin: 20px auto;
  border-radius: 6px;
  overflow: hidden;
}

.jx-forget {
  font-size: 14px;
  /*color: #fff;*/
  display: inline-block;
  margin: 30px auto 0;
  text-decoration: underline;
  position: relative;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
