.blue-bg {
  padding-top: 46px;
  background-color: #179de9;
}

.vue-center-h {

}

.text-center {
  text-align: center;
}

.head-img-wrap {
  position: relative;
  width: 103px;
  height: 103px;
  margin: 0 auto;
}

.head-img-wrap .head-img {
  width: 100%;
  height: 100%;
  margin-right: 0;
  border-radius: 50%;
}

.head-img {
  width: 50px;
  height: 50px;
  display: block;
}

.head-img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.head-mark-wrap {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.head-mark.teacher-mark {
  background-color: #179de9;
}

.head-mark:first-of-type {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.head-mark {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border-radius: 50%;
  line-height: 18px;
  display: block;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.head-mark.teacher-mark:before {
  content: "\5E08";
}

.write {
  color: #fff;
  display: block;
  margin: 5px 0;
}

.role-list {

}

.role-list span {
  display: inline-block;
  padding: 1px 4px;
  border: 1px solid #fff;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  margin: 0 1px;
}
